<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>You have to be loggeed in to add to Cart</h1>
<h3>
    <a class="nav-link text-dark" asp-area="" asp-controller="Welcome" asp-action="Index"> Main page</a>
</h3>